body{
   background-color: lightgray;
   text-align: center;
   
}

#title{
   color: red;
  
}


.row{
   display: flex;
   justify-content: center;
}

.square{
   display:inline-block;
   width: 60px;
   height: 60px; 
   border: 2px solid yellow; 
}

.color1{
   background-color: red;
}

.color2{
   background-color: black;
}